language: node_js
node_js:
  - 11
  - 10
  - 9
  - 8
os:
  - linux
  - osx
  - windows
before_script:
  - npm install -g yarn
  - npm install -g .
script:
  - node index.js 
after_script:
  - yarn test
